#quest{
    font-size: 220%;
    margin-left: 12%;
    margin-top: 4%;
    color: rgb(92, 49, 49);
    font-family:'cursive';

}
#qno{
    font-family:'cursive';
}
#quizcomplete{
    font-size: 320%;
    text-align: center;
    margin-top: 15%;
    font-family: cursive;
    color: rgb(92, 49, 49);

}
#optionslabel,#previousbutton{
    cursor: pointer;
}
#txt{
    margin-top: -3%;
}
#previousbutton{
    margin-top: 22%;
    margin-left: -10%;
    cursor: pointer;
    position: absolute;
    height: 28px;
    width: 28px;
}
#nxtbutton{
    margin-top: 22%;
    margin-left: 83%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    position: absolute;
}
#allthebesth1{
    font-size: 500%;
}
#startquiz{
     margin-top:7%;
    cursor: pointer;
     margin-left:45%;
     height: 20%;
     justify-content: center;
    font-family: cursive;
    color: rgb(92, 49, 49);
  font-size: 20px;
  padding: 10px 20px;
}
.Description{
    font-size: large;
    font-family: cursive;
    margin-left: 12%;
    color: rgb(92, 49, 49);
}


#countdown{
    font-family: cursive;
    font-size: small;

   
}
